<h1>Alarms</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Sensor</th>
			<th>Trigger Type</th>
			<th>Trigger Value</th>
			<th>Last Triggered</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @alarms.each do |alarm| %>
			<tr>
				<td><%= alarm.sensor.name %></td>
				<td><%= alarm.trigger_type %></td>
				<td><%= alarm.trigger_value %></td>
				<td><%= alarm.last_triggered.nil? ? "Never" : alarm.last_triggered %></td>
				<td>
					<%= link_to "Update", edit_alarm_path(alarm), :class=> "btn" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>