<div class="sensors-index">
  <% @stateful_sensors.each do |stateful_sensor| %>
    <div class="sensors-index-item">
      <div class="col-md-4 text-bit">
        <h2><%= stateful_sensor.name %></h2>
        <span class="value"><%= stateful_sensor.last_state %></span>
      </div>
      <div class="col-md-8 alert alert-info state-changes-wrapper">
        <table class="state-changes table">
          <% stateful_sensor.state_changes.a_few.each do |state_change| %>
            <tr>
              <td><%= state_change.created_at.strftime('%Y/%m/%d@%H:%M') %></td>
              <td><%= state_change.old_state %></td>
              <td><span class="glyphicon glyphicon-chevron-right"></span></td>
              <td><%= state_change.new_state %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>
