<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <ul class="vertical-form">
    <li>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </li>
    <li>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </li>
    <% if devise_mapping.rememberable? -%>
      <li>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </li>
    <% end -%>
    <li>
      <button type="submit" class="btn btn-default">Submit</button>
    </li>
  </ul>
<% end %>

<%= render "devise/shared/links" %>
