<% if @active_alarms.length > 0 %>
    <div class="alert alert-error">
        <% @active_alarms.each do |alarm| %>
            <p><strong>ALERT!</strong> <%= link_to alarm.sensor.name, alarm.sensor %> is experiencing dangerous levels (<%= alarm.last_triggered_value %><%= alarm.units %>)!!</p>
        <% end %>
    </div>
<% end %>
<% if @signal_faulted_sensors.length > 0 %>
    <div class="alert">
        <% @signal_faulted_sensors.each do |sensor| %>
            <p><strong>Warning!</strong>  <%= link_to sensor.name, sensor %> has not been heard from for more than 6 hours!</p>
        <% end %>
    </div>
<% end %>
<div class="row">
    <h1>Sensors</h1>
    <% if @sensors.present? %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Last Value</td>
                    <td>Today's Average</td>
                    <td>Yesterday's Average</td>
                    <td>Status</td>
                    <td>Last Updated</td>
                </tr>
            </thead>
            <tbody>
                <% @sensors.each do |sensor| %>
                    <tr>
                        <td><%= link_to sensor.name, sensor %></td>
                        <% if sensor.data_points.last == nil %>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        <% else %>
                            <td><%= sensor.data_points.last.value %><%= sensor.data_points.last.units%></td>
                            <td><%= sensor.todays_average %><%= sensor.data_points.last.units%></td>
                            <td><%= sensor.yesterdays_average %><%= sensor.data_points.last.units%></td>
                            <td>
                                <% if sensor.signal_faulted %>
                                    <span class="label label-warning">SF</span>
                                <% end %>
                                <% sensor.alarms.active.each do |alarm| %>                                    
                                    <% if alarm.trigger_type == "high_level" %>
                                        <span class="label label-important">HL</span>
                                    <% elsif alarm.trigger_type == "low_level" %>
                                        <span class="label label-important">LL</span>
                                    <% end %>
                                <% end %>
                            </td>
                            <td><%= sensor.updated_at %></td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <h2><strong>Aw, no data yet!</strong></h2>
    <% end %>
</div>