<% @title = "Sensors" %>
<% if @active_alarms.length > 0 %>
    <div class="alert alert-error">
        <% @active_alarms.each do |alarm| %>
            <p>
                <a href="#" alarm-id="<%=alarm.id%>" class="alarm-reset-link"><i class="icon-remove"></i></a>
                <strong>ALERT!</strong>
                <%= link_to alarm.sensor.name, alarm.sensor %> is experiencing dangerous levels (<%= alarm.last_triggered_value %><%= alarm.units %>)!!
            </p>
        <% end %>
    </div>
<% end %>
<% if @signal_faulted_sensors.length > 0 %>
    <div class="alert">
        <% @signal_faulted_sensors.each do |sensor| %>
            <p><strong>Warning!</strong>  <%= link_to sensor.name, sensor %> has not been heard from for more than 6 hours!</p>
        <% end %>
    </div>
<% end %>
<div class="row">
    <% if @sensors.present? %>
        <table class="table table-striped sensors-listing">
            <thead>
                <tr>
                    <td class="sensor-name">Name</td>
                    <td>Progress Bar</td>
                </tr>
            </thead>
            <tbody>
                <% @sensors.each do |sensor| %>
                    <tr>
                        <td class="sensor-name">
                            <%= link_to sensor.name, sensor %>
                            <% if sensor.signal_faulted %>
                                <span class="label label-warning">SF</span>
                            <% end %>
                            <% sensor.alarms.active.each do |alarm| %>
                                <% if alarm.trigger_type == "high_level" %>
                                    <span class="label label-important">HL</span>
                                <% elsif alarm.trigger_type == "low_level" %>
                                    <span class="label label-important">LL</span>
                                <% end %>
                            <% end %>
                        </td>
                        <% if sensor.data_points.last == nil %>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td class="todays-average">N/A</td>                            
                            <td class="last-updated">N/A</td>
                        <% else %>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="bar" style="width: <%= sensor.last_value_as_percentage%>%;">
                                        <span class="value-container"><%= sensor.data_points.last.value %></span>
                                        <span class="units-container"><%= sensor.data_points.last.units %></span>
                                    </div>
                                </div>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <h2><strong>Aw, no data yet!</strong></h2>
    <% end %>
</div>