<% @title = "Sensors" %>
<% if @active_alarms.length > 0 %>
    <div class="alert alert-error">
        <% @active_alarms.each do |alarm| %>
            <p>
                <a href="#" alarm-id="<%=alarm.id%>" class="alarm-reset-link"><i class="icon-remove"></i></a>
                <strong>ALERT!</strong>
                <%= link_to alarm.sensor.name, alarm.sensor %> is experiencing dangerous levels (<%= alarm.last_triggered_value %><%= alarm.units %>)!!
            </p>
        <% end %>
    </div>
<% end %>
<% if @signal_faulted_sensors.length > 0 %>
    <div class="alert">
        <% @signal_faulted_sensors.each do |sensor| %>
            <p><strong>Warning!</strong>  <%= link_to sensor.name, sensor %> has not been heard from for more than 6 hours!</p>
        <% end %>
    </div>
<% end %>
<div class="sensors-listing">
    <% if @sensor_groups.present? %>
        <% @sensor_groups.each do |group| %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list"></span>
                    <%= group[0] %>
                </div>
                <div class="panel-body">
                    <% group[1].each do |sensor| %>
                        <div class="row sensors-listing-item">
                            <div class="col-md-4">
                                <%= link_to sensor.name, sensor %>
                            </div>
                            <div class="col-md-7">
                                <div class="progress progress-striped">
                                    <div  class="progress-bar progress-bar-info" role="progressbar" style="width: <%= sensor.last_value_as_percentage%>%;">
                                        <span class="value-container"><%= sensor.data_points.last.value %></span>
                                        <span class="units-container"><%= sensor.data_points.last.units %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% else %>
        <h2><strong>Aw, no data yet!</strong></h2>
    <% end %>
</div>