<html>
  <head>
    <title>PD::Monocole - Sensors</title>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700|Wallpoet' rel='stylesheet' type='text/css'>
    <style>
      body {
        background-color: black;
        background-size: 100%;
        color: #3399FF;
        font-family: 'Wallpoet', cursive;
      }
      h1 {
        color: #CCFFCC;
        border-bottom: 1px solid #CCFFCC;
      }
      p {
        font-family: 'Alegreya Sans SC', sans-serif;
      }
      .body-wrapper {
        margin: 24px auto;
        width: 960px;
      }
      .col-right {
        float: left;
        overflow: hidden;
        width: 470px;
      }
      .cameras-list {
        overflow: hidden;
      }
      .cameras-list > * {
      }
      .camera-item {
        float: left;
        margin: 0 15px;
      }
      .camera-item h2 {
        display: none;
        font-size: 1.2em;
        text-align: center;
        position: relative;
        right: -120px;
        top: 107px;

        writing-mode:tb-rl;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -o-transform: rotate(90deg);
      }
      .camera-item img {
        border: 1px solid #ccffcc;
        padding: 10px;
        width: 183px;
      }
      .numeric-sensor-item {
        margin-bottom: 20px;
      }
      .numeric-sensors-list {
        overflow: hidden;
        float: left;
        width: 485px;
      }
      .numeric-sensor-readout {
        overflow: hidden;
      }
      .numeric-sensor-readout > * {
        float: left;
      }
      .numeric-sensor-readout h2 {
        border-right: 1px solid #ccffcc;
        font-size: 1.3em;
        width: 265px;
      }
      .numeric-sensor-readout-units {
        margin-top: 13px;
        margin-right: 35px;
        float:right;
      }
      .numeric-sensor-readout-units p {
        color: #FFCC66;
        margin: 0;    
        text-align: center;
      }
      .numeric-sensor-readout-value {
        color: #FF9900;
        font-weight: bolder;
        font-size:3.0em;
        margin-left: 15px;  
        margin-top:5px;
      }
      .progress-bar-wrapper {
        background-color: #666;
        overflow: hidden;
        width:450px;
      }
      .progress-bar-wrapper > * {
        float:left;
      }
      .progress-bar-bar {
        background-color: #6699FF;
        height: 5px;
      }
      .stateful-sensors-list {
        margin-top: 25px;
        overflow: hidden;
      }
      .stateful-sensor-item > * {
        float: left;
      }
      .stateful-sensor-item {
        margin-bottom: 15px;
        overflow: hidden;
      }
      .stateful-sensor-item h2 {
        color: #FFCC66;
        font-size: 1.28em;
        width: 355px;
      }
      .stateful-sensor-readout-state {
        background-color: #6BB247;
        color: white;
        font-size: 1.5em;
        padding: 15px;
        text-align: center;
        width: 75px;
      }
      .stateful-sensor-readout-state.off {
        background-color: #CCCC52;
      }
    </style>
    <script type="text/javascript">
//      window.setTimeout('location.reload();', 5*1000);
    </script>
  </head>
  <body>
    <div class="body-wrapper">
      <h1>Systems Operations @ <%= Time.now.in_time_zone(Rails.configuration.time_zone).strftime("%H:%M") %></h1>
      <div class="numeric-sensors-list">
        <% @numeric_sensors.each do |sensor| %>
          <div class="numeric-sensor-item">
            <div class="numeric-sensor-readout">
              <h2><%= sensor.name %></h2>
              <div class="numeric-sensor-readout-value"><%= sensor.last_value %></div>
              <div class="numeric-sensor-readout-units">
                <p class="trend-direction"><%= sensor.trend_direction_arrow.html_safe%></p>
                <%= sensor.units %>
              </div>
            </div>
            
            <div class="progress-bar-wrapper">
              <div class="progress-bar-bar" style="width: <%=sensor.current_percentage_value%>%;"></div>
            </div>
          </div>
        <% end %>
      </div> <!-- /numeric-sensors-list -->
      <div class="col-right">
        <div class="cameras-list">
          <% @cameras.each do |camera| %>
            <div class="camera-item">
              <h2><%= camera.name %></h2>
              <%= image_tag camera.latest_snapshot.url %>
            </div>
          <% end %>
        </div>
        <div class="stateful-sensors-list">
          <% @stateful_sensors.each do |sensor| %>
            <div class="stateful-sensor-item">
              <h2><%= sensor.name %></h2>
              <div class="stateful-sensor-readout-state <%= "off" if sensor.last_state == 'OFF'%>"><%= sensor.last_state %></div>
            </div>
          <% end %>
        </div>
      </div><!-- /col-right -->
  </body>
</html>
