<% @title = "Sensors - #{@sensor.name}" %>
<h1>Showing <%= @sensor.name %> <%= button_to "Delete", @sensor, :method=>:delete, :class=> "destroy btn btn-danger pull-right", :confirm => "Are you sure?" %></h1>
<% if @sensor.data_points.count == 0 %>
    <p>No data has come in for this sensor yet.  Check back later!</p>    
<% else %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1.0', {'packages':['corechart']});
    </script>

    <ul class="nav nav-pills chart-sub-nav">
        <li class="small-screen-hide"><%= link_to "Back to Sensors", sensors_path %></li>
        <li><a href="#" class="chart-range" chart-range="all-time">All Time</a></li>
        <li><a href="#" class="chart-range" chart-range="this-month">Months</a></li>
        <li class="active"><a href="#" class="chart-range" chart-range="this-day">Days</a></li>
        <li class="small-screen-hide"><%= link_to "Big Display", big_display_sensor_path(@sensor) %></li>
    </ul>

    <div
         data-sensor-id="<%= @sensor.id %>"
         data-sensor-name="<%= @sensor.name %>"
         data-sensor-units="<%= @sensor.data_points.last.units %>" 
         class="sensor-chart-container"></div>
<% end %>