<h2><%= @sensor.name %></h2>

<h3>General Comparison</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Val This Week</th>
      <th>Val Last Week</th>
    </tr>
  </thead>
  <tbody>
    <% @sensor.data_points.where('created_at > ?', Time.now-7.days).order("created_at DESC").each do |dp| %>
      <% closest_dp = dp.closest_data_point(dp.created_at-7.days) %>
      <tr>
        <td><%= dp.created_at.strftime("%Y/%m/%d %H:%M (%a)") %></td>
        <td><%= dp.value %><%= @sensor.units %></td>
        <td title="<%= closest_dp.created_at.strftime("%Y/%m/%d %H:%M (%a)")%>"><%= closest_dp.value %><%=@sensor.units%></td>
      </tr>
    <% end %>
  </tbody>
</table>
