<div class="container-title">
  <div class="pull-right">
    <%= link_to 'Edit', edit_sensor_path(@sensor), class: 'btn btn-default' %>
  </div>
  <h2><%= @sensor.group.name %> / <%= @sensor.name %></h2>
</div>
<div class="container-chart">
  <canvas id="chart-container" class="chart-line" data-sensor-id="<%= @sensor.id %>"></canvas>

</div>
<div>
  <div class="form-group">
    <select class="form-control" id="chart-range">
      <option value="day">Chart back hours</option>
      <option value="week">Chart back days</option>
      <option value="month">Chart back weeks</option>
      <option value="year">Chart back months</option>
    </select>
  </div>
</div>
<div>
  <h3>Right Now</h3>
  <%= render partial: 'progress_bar', locals: {sensor: @sensor} %>
</div>
<div class="row">
 
  <div class="col-lg-4 container-big-stat">
    <h3>Average</h3>
    <span class="stat"><%= number_to_human_size_agnostic @sensor.average %><%= @sensor.units %></span>
  </div>

  <div class="col-lg-4 container-big-stat">
    <h3>Minimum</h3>
    <span class="stat"><%= number_to_human_size_agnostic @sensor.minimum %><%= @sensor.units %></span>
  </div>
  
  <div class="col-lg-4 container-big-stat">
    <h3>Maximum</h3>
    <span class="stat"><%= number_to_human_size_agnostic @sensor.maximum %><%= @sensor.units %></span>
  </div>

  
</div>
