<% @cameras.in_groups_of(2).each do |cameras| %>
    <div class="row">
        <% cameras.each do |camera| %>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-camera"></span>
                        <%= camera.title %> @ <%= time_ago_in_words camera.updated_at %> ago
                    </div>
                    <div class="panel-body">
                        <center>
                            <%= image_tag camera.latest_snapshot.url(:small), class: 'img-responsive img-thumbnail' %>
                        </center>
                        <h4>Events</h4>
                        <ul class="list-group camera-event-list">
                            <% camera.camera_events.each do |camera_event| %>
                                <li class="list-group-item">
                                    <%= link_to camera_event.video.url(:original, false), target: '_blank' do |b| %>
                                        <%= camera_event.created_at %>
                                        <span class="pull-right glyphicon glyphicon-cloud-download"></span>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
<!--
<div class="row">
    <ul class="camera-listing">
        <% @cameras.each do |camera| %>
            <li>
                <h2><%= camera.title %> 
                    @ <%= time_ago_in_words camera.updated_at %> ago
                </h2>
                <%= image_tag camera.latest_snapshot.url(:medium) %>
                <table class="table camera-events">
                    <thead>
                        <tr>
                            <td>Event Date</td>
                            <td>Download</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% camera.camera_events.order("created_at DESC").each do |camera_event| %>
                            <tr>
                                <td><%= camera_event.created_at %></td>
                                <td><%= link_to "Download", camera_event.video.url(:original, false), target: '_blank' %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </li>
        <% end %>
    </ul>
</div>-->