<!DOCTYPE html>
<html>
<head>
  <title>Monocle</title>
  <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% if current_user %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
